In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [42]:
url = "https://raw.githubusercontent.com/ga-students/DS-SF-24/master/HW%20Assignments/HW1/titanic.csv"
titanic = pd.read_csv(url)
titanic.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

How many passengers are in our passenger list? From here forward, we’ll assume our dataset represents the full passenger list for the Titanic.

In [25]:
len(titanic)
titanic.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

What is the overall survival rate?

In [29]:
float(len(titanic[titanic.Survived == 1]))/float(len(titanic))

0.3838383838383838

How many male passengers were onboard?

In [31]:
len(titanic[titanic.Sex == 'male'])

577

How many female passengers were onboard?

In [32]:
len(titanic) - len(titanic[titanic.Sex == 'male'])

314

What is the overall survival rate of male passengers?

In [35]:
float(len(titanic[(titanic.Survived == 1) & (titanic.Sex == 'male')]))/float(len(titanic[titanic.Sex == 'male']))

0.18890814558058924

What is the overall survival rate of female passengers?

In [36]:
float(len(titanic[(titanic.Survived == 1) & (titanic.Sex == 'female')]))/float(len(titanic[titanic.Sex == 'female']))

0.7420382165605095

What is the average age of all passengers onboard?
    * How did you calculate this average age?
    * Note that some of the passengers do not have an age value. How did you deal with this? What are some other ways of dealing with this?

In [44]:
titanic.Age.count() #714
titanic.Age.sum()/titanic.Age.count()

29.69911764705882

In [45]:
# alternatively 
titanic.Age.mean()

29.69911764705882

What is the average age of passengers who survived?

In [47]:
titanic[titanic.Survived == 1].Age.mean()

28.343689655172415

What is the average age of passengers who did not survive?

In [48]:
titanic[titanic.Survived == 0].Age.mean()

30.62617924528302

At this (early) point in our analysis, what might you infer about any patterns you are seeing?

women had a much higher chance of survival

How many passengers are in each of the three classes of service (e.g. First, Second, Third?)

In [57]:
len(titanic[titanic.Pclass == 1]) #216
len(titanic[titanic.Pclass == 2]) #184
len(titanic[titanic.Pclass == 3]) #491

491

What is the survival rate for passengers in each of the three classes of service?

In [60]:
# 1st class 
float(len(titanic[(titanic.Pclass == 1) & (titanic.Survived == 1)]))/float(len(titanic[titanic.Pclass == 1]))

0.6296296296296297

In [61]:
# 2nd class 
float(len(titanic[(titanic.Pclass == 2) & (titanic.Survived == 1)]))/float(len(titanic[titanic.Pclass == 2]))

0.47282608695652173

In [62]:
# 3rd class 
float(len(titanic[(titanic.Pclass == 3) & (titanic.Survived == 1)]))/float(len(titanic[titanic.Pclass == 3]))

0.24236252545824846

What else might you conclude?

higher classes had a higher chance of survival

Last, if we were to build a predictive model, which features in the data do you think we should include in the model and which can we leave out? Why?

gender, class, and survival rate. we can leave out age and the other columns since they don't seem to affect the survival rate much